@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]
การตั้งค่า style พื้นฐานใหม่ให้กับ HTML tag ทั่วไป */
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box; /* ใช้ box-sizing เพื่อให้ padding และ border รวมอยู่ในขนาดของกล่อง */
}

body, html {
	height: 100%;
	font-family: 'Poppins', sans-serif; 
}

/*---------------------------------------------*/
/* การกำหนด style สำหรับลิงก์ (a tag) */
a {
	font-family: 'Poppins', sans-serif; 
	font-size: 14px; /* ขนาดตัวอักษรเป็น 14 พิกเซล */
	line-height: 1.7; /* ความสูงของบรรทัดสัมพันธ์กับขนาดฟอนต์ เพื่อให้มีช่องว่างระหว่างบรรทัดที่อ่านง่ายขึ้น */
	color: #fff; /* สีตัวอักษร */
	margin: 0px; /* ไม่มีช่องว่างรอบลิงก์ (margin เป็น 0) */
	transition: all 0.4s; /* ตั้งค่า transition เพื่อให้เอฟเฟกต์การเปลี่ยนแปลงราบรื่น */
}

a:focus {
	outline: none !important; /* ลบกรอบของลิงก์เมื่อถูกเลือก */
} 

a:hover {
    text-decoration: none; /* ไม่ต้องการให้ขีดเส้นใต้เมื่อลิงก์ถูก hover */
    color: #fff; /* เปลี่ยนสีตัวอักษรเมื่อ hover */
}

/* การกำหนด style สำหรับ input */
input {
	outline: none; /* ลบเส้นขอบที่เกิดจากการ focus บน input */
	border: none; /* ลบขอบของ input */
}

input:focus {
    border-color: transparent !important; /* ลบหรือซ่อนขอบเมื่อ input หรือ textarea ถูก focus โดยใช้ !important เพื่อให้แน่ใจว่า style นี้มีผล */
}

/* ถูกใช้เมื่อฟิลด์นั้นถูกโฟกัส (ผู้ใช้คลิกหรือเคลื่อนที่ไปที่ฟิลด์นั้น) */
input:focus::placeholder {
    color: transparent;
}

/* กำหนดสี placeholder เมื่อไม่มีการ focus */
input::placeholder {
    color: #fff; /* กำหนดสีของ placeholder */
}

/*---------------------------------------------*/
/* การกำหนด style สำหรับปุ่ม */
button {
	outline: none !important; /* ลบเส้นกรอบรอบปุ่มเมื่อถูก focus โดยใช้ !important เพื่อให้มีผลเหนือกว่าค่าที่กำหนดไว้ในที่อื่น */
	border: none; /* ลบขอบของปุ่ม */
	background: transparent; /* ปุ่มมีพื้นหลังโปร่งใส */
}

button:hover {
	cursor: pointer; /* เมื่อ hover บนปุ่ม ให้เปลี่ยนเป็นมือ */
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]
คลาสสำหรับการปรับแต่งเล็กๆ น้อยๆ (เป็นคลาสของลืมรหัสและสร้างแอคเคาท์)*/
.txt1 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px; /* ตั้งขนาดตัวอักษรเป็น 13 พิกเซล */
    color: #e5e5e5;  /* กำหนดสีของข้อความเป็นสีเทาอ่อน */
    line-height: 1.5; /* กำหนดความสูงของบรรทัดเป็น 1.5 เท่าของขนาดตัวอักษร เพื่อให้มีพื้นที่ห่างระหว่างบรรทัด */
}

/*//////////////////////////////////////////////////////////////////
[ login ]
การออกแบบหน้า login */
.limiter {
    width: 100%; /* กำหนดความกว้างขององค์ประกอบให้เต็ม 100% ของพื้นที่ที่มีอยู่ */
    margin: 0 auto ; /* ตั้งค่าระยะห่างด้านบนและล่างเป็น 0 และตั้งค่าระยะห่างด้านซ้ายและขวาให้อัตโนมัติเพื่อให้ตำแหน่งอยู่กลางหน้าจอ */
}

/* พื้นหลังของ container ที่เป็นภาพ */
.container-login100 {
    width: 100%; /* กำหนดความกว้างขององค์ประกอบให้เต็ม 100% ของพื้นที่ที่มีอยู่ */
    min-height: 100vh; /* กำหนดความสูงขั้นต่ำเป็น 100% ของหน้าจอ (viewport height) */
    display: flex; /* ใช้ Flexbox เพื่อจัดการตำแหน่งขององค์ประกอบภายใน */
    flex-wrap: wrap; /* อนุญาตให้เด็กๆ ของ flexbox เปลี่ยนแถวได้เมื่อพื้นที่ไม่เพียงพอ */
    justify-content: center; /* จัดเรียงเด็กๆ ให้อยู่กลางแนวนอน */
    align-items: center; /* จัดเรียงเด็กๆ ให้อยู่กลางแนวตั้ง */
    padding: 15px; /* ตั้งค่าระยะห่างภายใน 15px รอบๆ องค์ประกอบ */
  
    background-repeat: no-repeat; /* ป้องกันการทำซ้ำของภาพพื้นหลัง */
    background-position: center; /* ตั้งตำแหน่งของภาพพื้นหลังให้อยู่กลางองค์ประกอบ */
    background-size: cover; /* ทำให้ภาพพื้นหลังขยายเต็มพื้นที่ขององค์ประกอบ */
    position: relative; /* ตั้งตำแหน่งเป็น relative เพื่อให้สามารถใช้งาน z-index ได้ */
    z-index: 1; /* กำหนดลำดับการซ้อนทับขององค์ประกอบนี้ (สูงกว่าองค์ประกอบอื่น ๆ ที่มี z-index ต่ำกว่า) */
}

/* การใส่เอฟเฟกต์ background */
.container-login100::before {  /* นี่คือการใช้ pseudo-element ::before เพื่อเพิ่มองค์ประกอบเสริมที่อยู่ก่อนเนื้อหาของ .container-login100. */
    content: ""; /* สร้างเนื้อหาที่ว่างเปล่าเพื่อสร้าง pseudo-element */
    display: block; /* ตั้งค่าให้ pseudo-element นี้แสดงเป็นบล็อก */
    
    position: absolute; /* ตั้งตำแหน่งเป็น absolute เพื่อให้สามารถจัดการตำแหน่งได้อย่างอิสระ */
    z-index: -1; /* ตั้งค่าลำดับการซ้อนทับให้ต่ำกว่าองค์ประกอบอื่น ๆ (อยู่ด้านหลัง) */
    
    width: 100%; /* กำหนดความกว้างให้เต็ม 100% ขององค์ประกอบพ่อ */
    height: 100%; /* กำหนดความสูงให้เต็ม 100% ขององค์ประกอบพ่อ */
    
    top: 0; /* ตั้งค่าตำแหน่งด้านบนเป็น 0 (เริ่มที่ด้านบนขององค์ประกอบพ่อ) */
    left: 0; /* ตั้งค่าตำแหน่งด้านซ้ายเป็น 0 (เริ่มที่ด้านซ้ายขององค์ประกอบพ่อ) */
    
    background-color: rgba(255,255,255,0.7); /* ตั้งค่าสีพื้นหลังเป็นสีขาวที่มีความโปร่งใส 70% */
}

/* เฟรมล็อกอิน*/
.wrap-login100 {
    width: 500px; /* กำหนดความกว้างขององค์ประกอบเป็น 500 พิกเซล */
    border-radius: 10px; /* กำหนดมุมโค้งขององค์ประกอบเป็น 10 พิกเซล */
    overflow: hidden; /* ซ่อนเนื้อหาที่เกินขอบเขตขององค์ประกอบ */
    padding: 55px 55px 37px 55px; /* กำหนด padding ด้านบน 55px, ด้านขวา 55px, ด้านล่าง 37px, และด้านซ้าย 55px */
    
    /* การกำหนด background แบบ gradient */
    background: linear-gradient(to bottom, #7579ff, #b224ef); /* ใช้ gradient แบบมาตรฐานจากสีฟ้าไปยังสีม่วง */
    
    /* กำหนดความสูงให้พอดีกับองค์ประกอบด้านใน */
    height: auto; /* ให้ความสูงปรับตามเนื้อหาภายใน */
    max-height: 100vh; /* กำหนดความสูงสูงสุดให้ไม่เกิน 100% ของหน้าจอ */
}

/*------------------------------------------------------------------
[ Form ]
การออกแบบฟอร์ม login */
/* ฟอร์มสำหรับให้ผู้ใช้เข้าสู่ระบบ */
.login100-form {
    width: 100%; /* กำหนดความกว้างของฟอร์มให้เต็มพื้นที่ของเฟรม */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*โลโก้*/
.login100-form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff; 
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
}

/*รูปในโลโก้*/
.login100-form-logo img {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

/*หัวข้อ คำว่า Login*/
.login100-form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px; /* ขนาดตัวอักษรสำหรับหัวข้อ */
    color: #fff; /* สีของตัวอักษรหัวข้อ */
    line-height: 1.2; /* ระยะห่างระหว่างบรรทัด */
    text-align: center; /* จัดตำแหน่งข้อความให้อยู่กลาง */
    text-transform: uppercase; /* แปลงข้อความให้เป็นตัวพิมพ์ใหญ่ทั้งหมด */
    display: block; /* เปลี่ยน display เป็น block เพื่อให้ครอบคลุมความกว้างทั้งหมด */
    margin-bottom: 40px; /* เพิ่มระยะห่างระหว่างหัวข้อ Login กับฟอร์ม */
}

/*------------------------------------------------------------------
[ Input ]
การออกแบบ input ฟอร์ม (ฟิลด์ต่างๆที่อินพุตข้อมูลเข้าไป) */

/*ช่องใส่ Username and Password*/
.wrap-input100 {
    width: 100%; /* กำหนดความกว้างเต็มที่ขององค์ประกอบ */
    position: relative; /* ตั้งค่า relative เพื่อจัดตำแหน่งองค์ประกอบที่สัมพันธ์กับตำแหน่งอื่น ๆ */
    border-bottom: 2px solid rgba(255,255,255,0.24); /* เส้นขอบล่างแบบโปร่งใสบางส่วน */
    margin-bottom: 30px; /* เว้นระยะด้านล่างระหว่างฟิลด์ */
}

/* จัดการสไตล์ของช่องกรอกข้อมูลภายในอินพุต */
.input100 {
    font-family: 'Poppins', sans-serif;  
    font-size: 16px; /* ขนาดตัวอักษร 16px */
    color: #fff; /* สีตัวอักษรเป็นสีขาว */
    line-height: 1.2; /* ระยะห่างระหว่างบรรทัด */
    display: block; /* ตั้งค่าให้เป็น block เพื่อให้ input ครอบคลุมพื้นที่เต็มที่ */
    width: 100%; /* ความกว้างเต็มพื้นที่องค์ประกอบ */
    height: 45px; /* ความสูงของฟิลด์ input */
    background: transparent; /* พื้นหลังโปร่งใส */
    padding: 0 5px 0 38px; /* เว้นระยะด้านใน (padding) ของ input ด้านซ้ายและขวา */
}

/*---------------------------------------------*/ 
/*ใช้สร้างเลเยอร์สำหรับเอฟเฟกต์โฟกัสบนฟิลด์อินพุต */ 
.focus-input100 {
    position: absolute; /* กำหนดตำแหน่งเป็น absolute เพื่อให้สามารถวางซ้อนกับองค์ประกอบอื่นได้ */
    display: block; /* ทำให้แสดงผลเป็นบล็อก */
    width: 100%; /* กำหนดความกว้างให้เต็มพื้นที่ขององค์ประกอบบิดา */
    height: 100%; /* กำหนดความสูงให้เต็มพื้นที่ขององค์ประกอบบิดา */
    top: 0; /* วางไว้ที่ตำแหน่งด้านบนสุดขององค์ประกอบบิดา */
    left: 0; /* วางไว้ที่ตำแหน่งด้านซ้ายสุดขององค์ประกอบบิดา */
    pointer-events: none; /* ป้องกันไม่ให้มีการโต้ตอบกับองค์ประกอบนี้ เช่น การคลิกหรือการโฟกัส */
}

/* การเพิ่มเอฟเฟกต์ให้ input */
.focus-input100::before { /*ใช้สร้างเส้นใต้สำหรับเอฟเฟกต์โฟกัส*/
    content: ""; /* ไม่ใส่เนื้อหาใด ๆ */
    display: block; /* แสดงเป็นบล็อก */
    position: absolute; /* วางตำแหน่งแบบสัมพัทธ์กับองค์ประกอบใหญ๋ */
    bottom: -2px; /* อยู่ห่างจากด้านล่างขององค์ประกอบหลัก 2px */
    left: 0; /* เริ่มที่ตำแหน่งซ้ายสุด */
    width: 0; /* ความกว้างเริ่มต้นเป็น 0 */
    height: 2px; /* ความสูงของเส้นใต้คือ 2px */
    transition: all 0.4s; /* เพิ่มเอฟเฟกต์การเปลี่ยนแปลงที่ราบรื่น */
    background: #fff; /* กำหนดสีพื้นหลังเป็นสีขาว */
}

/* (ไอคอนรูปคนกับรูปล็อก)  */
.focus-input100::after { /* สร้างองค์ประกอบหลังใน .focus-input100 */
    font-family: "Font Awesome 5 Free"; /* ใช้ฟอนต์ไอคอน */
    font-size: 22px; /* ขนาดฟอนต์ 22px */
    color: #fff; /* สีข้อความเป็นสีขาว */
    content: attr(data-placeholder); /* ใช้ค่า data-placeholder แทนเนื้อหา */
    display: block; /* แสดงเป็นบล็อก */
    width: 100%; /* ความกว้างเต็ม */
    position: absolute; /* วางตำแหน่งแบบสัมพัทธ์กับองค์ประกอบพ่อ */
    top: 6px; /* ห่างจากด้านบนขององค์ประกอบหลัก 6px */
    left: 0px; /* เริ่มที่ตำแหน่งซ้ายสุด */
    padding-left: 5px; /* เว้นระยะห่างทางซ้าย 5px */
    transition: all 0.4s; /* เพิ่มเอฟเฟกต์การเปลี่ยนแปลงที่ราบรื่น */
}

/* เมื่อกดจะอินพุตข้อมูล จะเริ่มพิมพ์ชิดซ้าย */
.input100:focus {
    padding-left: 5px; /* ลดการเว้นขอบด้านซ้ายของ input เมื่อ focus */
}

/* กดพิมพ์ไอคอนจะเลื่อนขึ้นไปข้างบน */
.input100:focus + .focus-input100::after {
    top: -22px;  /* ย้ายตำแหน่งข้อความ placeholder(ไอคอนรูปคนกับรูปล็อก) ขึ้นเมื่อ focus */
    font-size: 18px; /* ลดขนาดฟอนต์ของ placeholder(ไอคอนรูปคนกับรูปล็อก) เมื่อ focus */
}

/* เมื่อกดที่กล่อง จะมีเอฟเฟคเส้นตรง */
.input100:focus + .focus-input100::before {
    width: 100%; /* ขยายเส้นด้านล่างให้ครอบคลุมความกว้างทั้งหมดเมื่อ focus */
}
  
/* เมื่อ input มีค่า */
.has-val.input100 + .focus-input100::after {
    top: -22px; /* ย้ายตำแหน่ง placeholder ขึ้นเมื่อมีค่าภายใน input */
    font-size: 18px; /* ลดขนาดฟอนต์ของ placeholder เมื่อมีค่าภายใน */
}
  
.has-val.input100 + .focus-input100::before {
    width: 100%; /* ขยายเส้นด้านล่างให้ครอบคลุมความกว้างทั้งหมดเมื่อมีค่า */
}
  
.has-val.input100 {
    padding-left: 5px; /* ลดการเว้นขอบด้านซ้ายของ input เมื่อมีค่า */
}

/*==================================================================
[ Restyle Checkbox ]
การออกแบบ checkbox ใหม่ */

/* สำหรับกรณีผู้ใช้ลืมรหัสผ่าน */
.contact100-form-checkbox {
    padding-left: 5px; /* กำหนดการเว้นระยะด้านซ้าย */
    padding-top: 5px; /* กำหนดการเว้นระยะด้านบน */
    padding-bottom: 35px; /* กำหนดระยะห่างทางด้านล่าง */
    cursor: pointer; /* แสดงว่าเป็นลิงก์ที่คลิกได้ */
}
  
.txt1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 13px; /* ขนาดฟอนต์ */
    color: #fff; /* สีข้อความ */
    line-height: 1.2; /* ความสูงของบรรทัด */
    text-decoration: underline; /* ทำให้ดูเหมือนลิงก์ */
}
  
  .txt1:hover {
    color: #e5e5e5;  /* เปลี่ยนสีเมื่อเลื่อนเมาส์ไปที่ลิงก์ */
}

/*------------------------------------------------------------------
[ Button ]
การออกแบบปุ่ม Login */
.container-login100-form-btn {
    width: 100%; /* กำหนดความกว้างของปุ่มให้เต็มความกว้างขององค์ประกอบใหญ่ */
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงองค์ประกอบภายใน */
    flex-wrap: wrap; /* อนุญาตให้องค์ประกอบภายในแตกแถวเมื่อมีเนื้อที่ไม่เพียงพอ */
    justify-content: center; /* จัดกึ่งกลางองค์ประกอบภายในในแนวนอน */
}

.login100-form-btn {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; /* ขนาดตัวอักษร */
    color: #555555; /* สีตัวอักษร */
    line-height: 1.2; /* ความสูงของบรรทัด */
  
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียงเนื้อหาภายใน */
    justify-content: center; /* จัดกึ่งกลางเนื้อหาในแนวนอน */
    align-items: center; /* จัดกึ่งกลางเนื้อหาในแนวตั้ง */
    padding: 0 20px; /* ระยะห่างภายใน (ซ้าย-ขวา) ของปุ่ม */
    min-width: 120px; /* กำหนดความกว้างขั้นต่ำของปุ่ม */
    height: 50px; /* กำหนดความสูงของปุ่ม */
    border-radius: 25px; /* กำหนดความโค้งของมุมปุ่ม */
  
    background: #9152f8; /* สีพื้นหลังของปุ่ม */
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef); /* Gradient สำหรับเบราว์เซอร์ที่ใช้ WebKit */
    background: -o-linear-gradient(bottom, #7579ff, #b224ef); /* Gradient สำหรับเบราว์เซอร์ Opera */
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef); /* Gradient สำหรับเบราว์เซอร์ Firefox */
    background: linear-gradient(bottom, #7579ff, #b224ef); /* Gradient ทั่วไปสำหรับเบราว์เซอร์ */
    position: relative; /* กำหนดให้ตำแหน่งของปุ่มเป็น relative */
    z-index: 1; /* กำหนดลำดับชั้นของปุ่มให้สูงกว่าองค์ประกอบอื่น ๆ */
  
    transition: all 0.4s; /* ตั้งค่า transition เพื่อให้การเปลี่ยนแปลงในปุ่มมีความราบรื่น */
}

/*สร้างเลเยอร์พื้นหลังที่มีลักษณะโปร่งใสใต้ปุ่ม login */
.login100-form-btn::before {
    content: ""; /* สร้างเนื้อหาที่ว่างเพื่อใช้สำหรับการตกแต่ง */
    display: block; /* กำหนดให้เป็นบล็อกเพื่อให้สามารถควบคุมขนาดและตำแหน่งได้ */
    position: absolute; /* ตำแหน่งที่แน่นอนภายในปุ่ม */
    z-index: -1; /* ตั้งค่าให้ต่ำกว่าลำดับชั้นของปุ่ม ทำให้มันอยู่ด้านหลัง */
    width: 100%; /* ความกว้างของกล่องครอบคลุมเต็มที่ของปุ่ม */
    height: 100%; /* ความสูงของกล่องครอบคลุมเต็มที่ของปุ่ม */
    border-radius: 25px; /* กำหนดความโค้งของมุมให้เหมือนกับปุ่ม */
    background-color: #fff; /* กำหนดสีพื้นหลังเป็นสีขาว */
    top: 0; /* ตำแหน่งจากด้านบนเริ่มต้นที่ 0 */
    left: 0; /* ตำแหน่งจากด้านซ้ายเริ่มต้นที่ 0 */
    opacity: 1; /* ความโปร่งใสของกล่องเต็ม 100% */

    transition: all 0.4s; /* ตั้งค่า transition เพื่อให้การเปลี่ยนแปลงมีความราบรื่น */
}

/*เปลี่ยนสีตัวอักษรในปุ่ม login ให้เป็นสีขาว เมื่อเมาส์ชี้ไปที่ปุ่ม*/
.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0; /* ทำให้พื้นหลังหายไปเมื่อชี้เมาส์ไปที่ปุ่ม */
}

/*================================================================== */

/* สำหรับกรณีผู้ใช้สร้างแอคเคาท์ */

.text-center {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    padding-left: 5px; /* กำหนดการเว้นระยะด้านซ้าย */
    padding-top: 15px; /* กำหนดการเว้นระยะด้านบน */
    cursor: pointer; /* แสดงว่าเป็นลิงก์ที่คลิกได้ */
}

.txt1 {
    font-family: 'Poppins', sans-serif;  
    font-size: 13px;
    color: #fff; /* สีของลิงก์ */
    text-decoration: none; /* ลบขีดเส้นใต้ */
    font-weight: 500; /* ทำให้ตัวอักษรมีความหนาขึ้นเล็กน้อย */
    display: inline-flex; /* ใช้ flexbox เพื่อจัดเรียงไอคอนและข้อความในแนวเดียวกัน */
    align-items: center; /* จัดให้อยู่ในแนวกลาง */
    transition: all 0.3s ease; /* ทำให้เกิดเอฟเฟกต์เมื่อนำเมาส์ไปวาง */
}

.txt1:hover {
    text-decoration: underline; /* ขีดเส้นใต้ลิงก์เมื่อนำเมาส์ไปวาง */
    transform: scale(1.05); /* ขยายลิงก์เล็กน้อยเมื่อนำเมาส์ไปวาง */
}

/*------------------------------------------------------------------
[ Alert validate ]
การออกแบบแจ้งเตือนกรณี validation(ตรวจสอบ) ไม่ผ่าน */

/* แจ้งเตือนเมื่อเกิดข้อผิดพลาดในการล็อกอิน เช่นลืมกรอกรหัส*/

/* .validate-input: กำหนดตำแหน่งขององค์ประกอบให้เป็น relative 
   เพื่อช่วยให้ออบเจ็กต์ที่กำหนดตำแหน่งแบบ absolute ภายในสามารถใช้อ้างอิงตำแหน่งได้ */
   .validate-input {
    position: relative;
}
  
/*แสดงข้อความแจ้งเตือนในกรอบสีขาวที่มีเส้นขอบสีแดงและมุมโค้งเล็กน้อย */
.alert-validate::before {
    content: attr(data-validate); /* ดึงข้อความจาก data-validate attribute */
    position: absolute; /* กำหนดตำแหน่งแบบ absolute ให้ยึดกับ validate-input */
    max-width: 70%; /* กำหนดความกว้างสูงสุด 70% */
    background-color: #fff; /* พื้นหลังสีขาว */
    border: 1px solid #c80000; /* เส้นขอบสีแดง */
    border-radius: 2px; /* มุมโค้งเล็กน้อย */
    padding: 4px 25px 4px 10px; /* ระยะห่างภายใน */
    top: 50%; /* กำหนดตำแหน่งให้กลางในแนวตั้ง */
    transform: translateY(-50%); /* ย้ายตำแหน่งขึ้นให้จัดกลาง */
    right: 0px; /* ขยับกรอบแจ้งเตือนไปด้านขวาสุด */
    pointer-events: none; /* ป้องกันการโต้ตอบกับเมาส์ */
    
    font-family: 'Poppins', sans-serif;  
    color: #c80000; /* สีข้อความแจ้งเตือนเป็นสีแดง */
    font-size: 13px; /* ขนาดตัวอักษร */
    line-height: 1.4; /* ระยะห่างระหว่างบรรทัด */
    text-align: left; /* จัดข้อความชิดซ้าย */
  
    visibility: hidden; /* เริ่มต้นซ่อนแจ้งเตือน */
    opacity: 0; /* เริ่มต้นความโปร่งใสเป็น 0 */
  
    transition: opacity 0.4s; /* เพิ่มเอฟเฟกต์ transition ที่ความโปร่งใส */
}

/* แก้ไขตรงนี้ ในการสร้าง Alert ให้ได้ */

/*แสดงไอคอนแจ้งเตือนสีแดงที่ใช้ฟอนต์ FontAwesome */
.alert-validate::after {
    content: "\f12a"; /* ดึงไอคอนจาก FontAwesome */
    font-family: FontAwesome; /* ฟอนต์สำหรับไอคอน */
    font-size: 16px; /* ขนาดไอคอน */
    color: #c80000; /* สีไอคอนเป็นสีแดง */
  
    display: block; /* จัดการแสดงผล */
    position: absolute; /* กำหนดตำแหน่งแบบ absolute */
    top: 50%; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
    transform: translateY(-50%); /* เลื่อนตำแหน่งเพื่อจัดกลาง */
    right: 5px; /* ขยับตำแหน่งไอคอนไปทางขวา */
}

/* แสดงข้อความแจ้งเตือนเมื่อผู้ใช้ hover บนองค์ประกอบ */
.alert-validate:hover:before {
    visibility: visible; /* แสดงแจ้งเตือน */
    opacity: 1; /* ความโปร่งใสเต็มที่ */
}

