html {
    font-size: 16px;
    font-family: "Kanit", "Poppins", sans-serif;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/* ----------------------------------------------- */
/* Sidebar */
.sidebar {
    position: fixed;/* อยู่กับที่ */
    top: 0;
    left: 0;
    background-color: #333333 !important;
    height: 100vh !important;
    width: 370px; /* ปรับความกว้างตามต้องการ */
    padding-top: 30px;
    z-index: 1000;/*  ให้แสดงอยู่บนเนื้อหาอื่น */
}

.content {
    margin-left: 370px;/* ต้องเท่ากับความกว้าง sidebar */
    padding: 20px;
}

/* info */
.sidebar-header {
    font-family: "Kanit", "Poppins", sans-serif;
    margin-bottom: 30px;
}

/* ชื่อย่อ */
.user-initials {
    background-color: #5e4434;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* เส้นคั่น */
.styled-hr {
    color: #f57c00;
}

.sidebar h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #ffffff;
}

.nav-item {
    margin-left: 5px;
    margin-bottom: 10px;
}

.nav-link {
    color: #ecf0f1 !important;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

/* สีลิงก์ที่กำลังถูกเลือก */
.nav-link.active {
    background-color: #FFE0B2;/* สีเข้มสำหรับลิงก์ที่เลือก */
    color: #000000 !important;/* สีข้อความ */
    border-radius: 8px;
}

/* เปลี่ยนสีลิงก์เมื่อ Hover */
.nav-link:hover {
    background-color: #FFB74D;/* สีเข้มขึ้นเมื่อ Hover */
    color: #000000 !important;
    border-radius: 8px;
}

/* Logout button */
.logout-btn {
    position: absolute;
    bottom: 20px;
    width: 40%;
    background-color: #333333;
    border-color: #f57c00;
}

/* -------------------------------------------------------- */
/* Main Content */
.content {
    padding: 30px;
}

h1 {
    font-size: 3rem;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.content p {
    font-size: 1.4rem;
    margin-top: 25px;
    text-decoration: underline;
}

/* ------------------------------------------------------ */
/* ลบและแก้ไขข่าวประชาสัมพันธ์ */
h4 {
    font-family: "Kanit", "Poppins", sans-serif;
    color: #333333;
    font-size: 1.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;/* เส้นขอบบาง สีเทาอ่อน */
}

/* Edit news */
.modal-header {
    background-color: #FFE0B2;
}

/* Save Changes Button */
.btn-primary {
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #f57c00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* เงาเวลาโฮเวอร์ */
}